* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --verde: #39b54a;
}

body {
    background-color: var(--grisClaro);
}

.logo {
    width: 50%;
    margin-bottom: 10px;
}

.logo img {
    max-width: 200px;
}

.banner-img {
    width: 100%;
    min-height: 130px;
    max-height: 250px;
    object-fit: cover;
}

p {
    font-size: 12px;
}

h2 {
    font-size: 24px;
}

.precios {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}

.descuentos {
    font-size: 16px;
    color: var(--verde);
    text-align: left;
    margin-bottom: 15px;
}

.descripciones {
    font-size: 16px;
    text-align: left;
    color: #666;
    display: none;
}

header {
    background-color: var(--amarillo);
    padding: 20px;
}

header p {
    text-align: center;
    line-height: 42px;
}

.nav-header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* .nav-header .logo {
    border: 1px solid violet;
} */

.nav-header .navegacion {
    /* border: 1px solid violet; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 8px;
    flex-wrap: nowrap;
}

.nav-header .navegacion input {
    padding: 8px;
    border-radius: 7px;
    outline: none;
    border: none;
    margin-right: 5px;
    min-width: 50px;
}

.nav-header .navegacion button {
    padding: 8px;
    background-color: #fff;
    border-radius: 7px;
    outline: none;
    border: none;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

nav ul {
    padding-bottom: 10px;
    display: none;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #000;
    text-decoration: none;
}

.nav-descripcion {
    font-size: 14px;
    text-align: center;
    color: #000;
}

.burger-menu {
    text-align: center;
    display: block;
}

.burger-menu i {
    font-size: 2em;
    background-color: var(--celeste);
    color: #fff;
    padding: 10px;
    border-radius: 6px;
}

main {
    /* text-align: center; */
    width: 90%;
    margin: auto;
    /* border: 1px solid red; */
    padding: 30px 0px 100px 0px;
    background-color: var(--grisClaro);
}

.articulo-bold {
    color: #676767;
}

.articulos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 25px auto;
}

.articulo-container {
    background-color: var(--grisClaro);
    /* border: 1px solid blue; */
    margin-bottom: 10px;
    display: flex;
    align-items: stretch;
    min-height: auto;
}

.articulo {
    /* border: 1px solid red; */
    overflow: hidden;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.articulo-info {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.articulo-img-container {
    border-bottom: 1px solid #39b54a;
    position: relative;
    margin-bottom: 20px;
}

.articulo-img-container i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    bottom: -15px;
}

.articulo img {
    width: 100%;
    min-height: 200px;
    max-height: 350px;
    object-fit: contain;
}

footer {
    text-align: center;
    background-color: #fff;
}

footer div {
    padding: 25px;
}

footer i {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--celeste);
}

/* navegacion en tablets */
@media (min-width: 361px) {
    header {
        padding: 20px 20px 10px 20px;
    }
    
    .nav-header .logo {
        /* border: 1px solid violet; */
        width: 50%;
    }

    .nav-header .logo img {
        width: 100%;
    }

    .nav-header .navegacion {
        /* border: 1px solid violet; */
        width: 50%;
    }

    .nav-descripcion {
        font-size: 16px;
    }

    .articulo-container {
        width: 50%;
        padding: 8px;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
    }

    nav ul li {
        padding: 0px 12px;
        white-space: nowrap;
    }

    nav ul li i {
        margin-left: 8px;
    }

    .burger-menu {
        display: none;
    }

    .descripciones {
        display: block;
    }

    .articulo {
        box-shadow: 0px 0px 10px 2px rgba(100, 100, 100, 0.35);
    }
}


/* navegacion en desktop */
@media (min-width: 769px) {
    .articulo-container {
        width: 25%;
        padding: 8px;
    }

    .articulo {
        padding: 20px;
    }

    .nav-header .logo {
        /* border: 1px solid violet; */
        width: 33%;
    }

    .nav-header .navegacion {
        /* border: 1px solid violet; */
        width: 33%;
        text-align: center;
    }

    .navegacion input {
        width: 400px;
    }

    .nav-descripcion {
        width: 33%;
        text-align: center;
    }
}