* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --verde: #39b54a;
}

.logo img {
    width: 200px;
}

.articulo img {
    width: 350px;
}

p {
    font-size: 12px;
}

h2 {
    font-size: 24px;
}

.precios {
    font-size: 18px;
}

.descuentos {
    font-size: 16px;
}

.descripciones {
    font-size: 16px;
}

header {
    background-color: var(--amarillo);
    padding: 20px;
}

header p {
    text-align: center;
    line-height: 42px;
}

nav ul {
    padding-bottom: 10px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #000;
    text-decoration: none;
}

.burger-menu {
    text-align: center;
}

.burger-menu i {
    font-size: 2em;
    background-color: var(--celeste);
    color: #fff;
    padding: 10px;
    border-radius: 6px;
}

footer {
    text-align: center;
}

footer div {
    padding: 25px;
}

footer i {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--celeste);
}