<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <header>
        <div>
            <img src="/img/img-cafetera-moulinex.jpg" alt="logo Mercado Liebre">
        </div>
    </header>
    <main>
        <div>
            <img src="../../public/img/img-cafetera-moulinex.jpg" alt="logo Mercado Liebre">
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>